<h2>Smart-RPA</h2>
<ul class="smartrpa">
  <li *ngFor="let srpa of rpa"
    [class.selected]="srpa === selectedRPA"
    (click)="onSelect(srpa)">
    <span class="badge">{{srpa.id}}</span> {{srpa.name}}
  </li>
</ul>

<div *ngIf="selectedRPA">

  <h2>{{selectedRPA.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedRPA.id}}</div>
  <div>
      

    <label>name:
    
      <label [(ngModel)]="selectedRPA.name" placeholder="name"> </label>
      <head>
          <style>
          .button {
              background-color: #4CAF50;
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              cursor: pointer;
          }
          </style>
          </head>
          <body>
              <a href="#" class="button">Start</a>
              </body>
    </label>
  </div>

</div>